
input{
	border: none;
	background: none;
	outline: none;
}
.header{
	width:960px;
	margin: 0 auto;
	position: relative;
	
}
.header:after{
	content: '.';
	clear: both;
	height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}
.logo{
	width: 100px;
	margin:  10px 0;
}
.logo a{
	display: block;
}
.logo img{
	width: 100px;
	height:40px;
}
.header_list{
	margin:  15px 26px  10px 0;
	
}
.header_list li{
	float: left;
	height: 36px;
	margin-left: 45px;
	line-height: 36px;
}
.header_list li a{
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: '[FZLTZHK]';
}
.search{
	width: 153px;
	border-bottom: 1px solid #dfdfdf;
	height: 27px;
	margin: 20px 0 10px 0;
	position: relative;
	margin-right: 25px;
}
.search input{
	width: 130px;
	text-indent: 7px;
	line-height: 27px;
	color: #000;
	font-size: 14px;
}
.search_sprite{
	height: 20px;
	width: 19px;
	background: url(../images/firstSprite.png) no-repeat -141px -104px;
	position: absolute;
	right: 4px;
	top: 0;
}
.header_login_register{
	margin: 10px 0;
	width: 158px;
	height:40px;
}
.header_login{
	height: 38px;
	border-radius: 20px;
	width:72px;
	font:18px/38px '[FZLTZHK]';
	text-align: center;
	margin-right: 10px;
	color: #ffbb00;
	border: 1px solid  #ffbb00;
	cursor: pointer;
}
.header_register{
	height: 38px;
	border-radius: 20px;
	width:72px;
	font:18px/38px '[FZLTZHK]';
	text-align: center;
	color: #c0c0c0;
	border: 1px solid  #c0c0c0;
	cursor: pointer;
}
.publish{
	position: absolute;
	width: 85px;
	height: 70px;
	font: 24px/70px '[FZLTZHK]';
	background: #febf26;
	right: 0;
	top: 0;
	text-align: center;
	color: #fff;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
	box-shadow: 0 0 10px #a09f9f;
	z-index: 1;
}
/*.closeX{
	position: absolute;
    right: -40px;
    background: rgb(255,255,255);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: #666;
    border-radius: 50%;
    top: -30px;
}*/
/*.close{
	opacity: 1;
}*/
/*.col{
	color: orange;
}*/
/*.dis{
	display: none;
}*/
/*.modal-footer{
	text-align: center!important;
}
.modal-backdrop.in {
    filter: alpha(opacity=30)!important;
    opacity: .3!important;			
}*/